.App {
  text-align: center;
  font-size: larger;
  justify-content: center;
  place-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.text {
  color: white;
  font-size: 2rem;
  background-image: linear-gradient(180deg, #00bf72, #00d5e2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.table {
  display: flex;
  justify-content: center;
}
.sub {
  font-size: 2rem;

  background-image: linear-gradient(#00bc40, #4c3ae3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
